# Ignore Python bytecode files in __pycache__ for MatchingEngineService
MatchingEngineService/__pycache__/order_book.cpython-311.pyc

# Ignore Python bytecode files in __pycache__ for OrderService
OrderService/__pycache__/helpers.cpython-39.pyc

MatchingEngineService/matching_engine.log

AuthenticationService/__pycache__/AuthenticationService.cpython-311.pyc